/* head, title, body, li, ul, ol, h1, h2, ul, nav, aside, label footer */

html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;

}

ol, ul {
    list-style: none;
}

body {
    line-height: 1.5;
}

img {
    width: 100%;
}
