

body {
    font-family: Arial, sans-serif;
    background-color: cornsilk;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px; 
}

.ingredients-list {
    list-style: square inside;
}

.unordered-list {
    list-style: circle;
}

header > img {
    width: 100px;
}

ul > li > a {
    text-decoration: none;
    color: inherit;
}

.reviews {
    font-size: 10px;
    color: blue;
}

